<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">-->
    <!--    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">-->
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>

<header class="navbar bg-primary" data-bs-theme="dark">

<div class="justify-content-evenly">
    <a class="link-underline link-underline-opacity-0 " href="/">
        <img class="logo p" src="../static/images/logo.svg" alt="logo">
        <span class="navbar-brand h1 h-100 d-inline-block ">Cloud storage</span>
    </a>
</div>
    <div class="justify-content-end">
        <button type="button" class="btn btn-light">Sign in</button>
        <button type="button" class="btn btn-secondary m-2">Sign up</button>
    </div>




</header>

<script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>