<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<header class="navbar bg-primary" data-bs-theme="dark">

    <div class="justify-content-evenly">
        <a class="link-underline link-underline-opacity-0 " href="/">
            <img class="logo" th:src="@{/images/logo.svg}" alt="logo">
            <span class="navbar-brand h1 h-100 d-inline-block ">Cloud storage</span>
        </a>
    </div>
    <div th:if="${isAuthenticated}">
        <div class="justify-content-end">
        <form th:action="@{/logout}" method="post">
            <input class="btn btn-secondary m-2" type="submit" value="Logout">
        </form>
        </div>
    </div>

    <div th:if="${!isAuthenticated}">
        <div class="justify-content-end">
            <a type="button" class="btn btn-light" href="/login">Sign in</a>
            <a type="button" class="btn btn-secondary m-2" href="/registration">Sign up</a>
        </div>
    </div>


</header>

<script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>