<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cloud storage</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body>
<th:block th:replace="~{header :: header}"/>

    <div th:if="${isAuthenticated}">
        Аутентифицирован
    </div>
<div th:if="${!isAuthenticated}">
    Не Аутентифицирован
</div>
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>

</body>
</html>