<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cloud storage</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body>
<th:block th:replace="~{header :: header}"/>

    <div th:if="${isAuthenticated}">
        Аутентифицирован
        <div>
<!--        <form th:method="POST"  enctype="multipart/form-data" th:action="@{/uploadFile}">-->


<!--        <label for="file">Choose a file:</label>-->

<!--        <input type="file" id="file" name="file" />-->
<!--            <button type="submit">Upload</button>-->
<!--        </form>-->
        </div>

        <div>
<!--            <form th:method="POST"  enctype="multipart/form-data" th:action="@{/uploadFolder}">-->


<!--                <label for="folder">Choose a folder:</label>-->

<!--                <input type="file" id="folder" name="folder" webkitdirectory="true" multiple/>-->
<!--                <button type="submit">Upload</button>-->
<!--            </form>-->
        </div>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#uploadFile">
            New file
        </button>

        <!-- Modal -->
        <div class="modal fade" id="uploadFile" tabindex="-1" aria-labelledby="uploadFileLabel" aria-hidden="true">
            <div class="modal-dialog d-flex">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="uploadFileLabel">Download file</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                        <form class="m-2" th:method="POST"  enctype="multipart/form-data" th:action="@{/uploadFile}">


                            <label for="file">Choose a file:</label>

                            <input  type="file" id="file" name="file" />
                            <div class="d-flex justify-content-end mt-3">
                            <button class="btn btn-primary align-items-end" type="submit">Upload</button>
                            </div>
                        </form>

                </div>
            </div>
        </div>


        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#uploadFolder">
            New folder
        </button>

        <!-- Modal -->
        <div class="modal fade" id="uploadFolder" tabindex="-1" aria-labelledby="uploadFolderLabel" aria-hidden="true">
            <div class="modal-dialog d-flex">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="uploadFolderLabel">Download folder</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <form class="m-2" th:method="POST"  enctype="multipart/form-data" th:action="@{/uploadFolder}">


                        <label for="folder">Choose a folder:</label>

                        <input type="file" id="folder" name="folder" webkitdirectory="true" multiple/>
                        <div class="d-flex justify-content-end mt-3">
                            <button class="btn btn-primary align-items-end" type="submit">Upload</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>



    </div>



<div th:if="${!isAuthenticated}">
    Не Аутентифицирован
</div>

<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>

</body>
</html>